<footer class="footer">
      <div class="container">
        <span class="text-muted">
            click here to read more about stream line project
            <a href='http://rapidqube-streamline.readthedocs.io/en/latest/'>SteamLine Read the Docs</a></span>
      </div>
    </footer>