<nav class="navbar navbar-default">
  <div class="container-fluid banner header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <span class="banner-text" {{action 'tohome'}}> S T R E A M L I N E </span>
      </a>
    </div>
  </div>
</nav>